@page
@model Klotterplanket.Pages.Member.IndexModel
@{
}

<h1>Welcome </h1>

<ul style="height:400px; list-style-type:none; overflow:hidden; overflow-y:scroll;">
    @foreach (var msg in Model.MessageList)
    {
        <li>
            <div>
                @msg.Username <span class="m-3">@msg.Date</span>
            </div>
            <div class="border border-dark border-2 m-3">
                @msg.Message
            </div>
        </li>
    }
</ul>
   

<form method="post">
    <input type="text" placeholder="Message" asp-for="@Model.NewMessage"/>
    <input type="submit" value="Send"/>
</form>
