@page
@model Klotterplanket.Pages.Member.IndexModel
@{
}

<h1>Welcome </h1>

<div class="row">
    @foreach (var msg in Model.MessageList)
    {
        <div class="col-12 border border-dark border-2 m-3">
            @msg.Message
        </div>
    }
</div>

<form method="post">
    <input type="text" placeholder="Message" asp-for="@Model.NewMessage"/>
    <input type="submit" value="Send"/>
</form>
